html {
    min-height: 100%;
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 500px;
}



.top_banner {
    
    position: relative;
    height: 500px;
    margin: 30px 50px;
    background-image: url(../../Assets/MOCKUPS/SUKUNA_BLACK_TSHIRT_MOCKUP.png);
    background-position: center;
    border-radius: 45px;
    background-size: cover;
    & > .text_area_top_banner {
    
        position: absolute;
        right: 40px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 1;
    
        & > h1, h3 {
            white-space: nowrap;
            color: white;
            margin: 0px;
            text-align: right;
        }
        & > h3 {
            color: #FF5959;
            margin-bottom: 20px;
            transform: translateY(-7px)
        }
    
        & > button {
            background-color: #202020;
            color: white;
            max-width: 360px;
            width: 100%;
            padding: 10px 20px;
            border-radius: 15px;
            border: none;
    
            display: grid;
            grid-template-columns: 40px auto 15px;
            align-items: center;
            
    
            & > span {
                font-weight: bold;
                text-align: left;
                font-size: 18px;
            }
            
    
            & > img:first-of-type {
                height: 30px;
                
                justify-self: left;
            }
            & > img:last-of-type {
                height: 20px;
                
            }
        }
    }
}
.Scroller_Main {
    & > h1 {
        text-align: center;
        font-size: 25px;
    }
    color: white;
    margin: 40px 20px;
    & > .Scroller_container {
        display: grid;
        grid-template-columns: min-content auto min-content;
        & > .scroller_content {
            scroll-behavior:smooth;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            overflow-x: scroll;
            

            & > div.SCROLLER_BANNER {
                height: 300px;
                min-width: 200px;
                object-fit: cover;
                border-radius: 8px;
                user-select: none;
                position: relative;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: auto;
                grid-template-rows: auto;
                
                & > img.BGIMG_SCROLLER_BANNER {
                    filter:brightness(0.4);
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    object-fit: cover;
                    position: absolute;
                }
                & > img.LOGOIMG_SCROLLER_BANNER {
                    width: 150px;
                    z-index: 10;
                }
                

            }
        }
        & > .left_control_scroller, .right_control_scroller {
            cursor: pointer;
            user-select: none;
            min-height: 300px;
            width: 60px;
            border-radius: 8px;
            background-color: #1d1d1d;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & > img {
                height: 40px;
            }
        }
        & > .left_control_scroller {
            margin-right: 20px;
            & > img {
                transform: rotate(180deg);
            }
        }
        & > .right_control_scroller {
            margin-left: 20px;
        }

    }
}


@media screen and (max-width: 900px) {
    .top_banner {
        margin: 0px 0px;
        border-radius: 0px;
        height: 300px;
        & > .text_area_top_banner {
            scale: 0.7;
            right: 0px;
            bottom: 5px
        }
    }

    .Scroller_Main {
        & > .Scroller_container {
            & > .left_control_scroller, .right_control_scroller {
                width: 45px;
                min-height: 200px;
            }
            & > .scroller_content {
                & > div.SCROLLER_BANNER {
                    height:200px;
                    min-width: 120px;
                    & > img.LOGOIMG_SCROLLER_BANNER {
                        width: 90px;
                    }
                    & > img.BGIMG_SCROLLER_BANNER {
                        border-radius: 15px;
                    }
                }
                gap: 20px;
            }
    }
}}