/* U N I V E R S A L   D E S I G N I N G  */

body {
    background-color: #1a1a1a;
    margin: 0px;
    
 }
 
 * {
     font-family: Poppins;
 }
 
 button {
     cursor: pointer;
     &:active {
         scale: 0.95;
         
         transition: all 0.1s  ease-in-out;
     }
 }
 
 
 a {
     text-decoration: none;
     cursor: pointer;
 }
 
 ::-webkit-scrollbar {display: none;}
 
 
 /* Designing Header  */
 
 header {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;
     padding: 7px 20px;
     z-index:1000
     
 }
 
     /* Left side of Header  */
 .left_head {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     gap: 10px;
     cursor: pointer;
 }
 
 #logo {
     height: 55px;
     
 }
 
 #menu_btn {
     height: 30px;
     display: none;
     cursor: pointer;
 }
 
 #close_menu_btn {
 
     display: none;
     padding: 7px 15px;
     font-size: medium;
     white-space: nowrap;
     border-radius: 20px;
     background-color: transparent;
     color: white;
     border: none;
     font-weight: bold;
     
     
     
     &:active {
         box-shadow: 0 0 0 1px white;
         
     }
     & > pre {
         margin: 0px;
     }
 }
 
     /* Navigation Menu in Desktop */
 .nav_head {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     white-space: nowrap;
     gap: 35px;
     z-index: 10000;
 
     & > a {
         color: white;
         font-weight: 500;
         
     }
 }
 
 #signin_btn {
     padding: 7px 15px;
     border: none;
     background-color: #D60000;
     color: white;
     border-radius: 10px;
     white-space: nowrap;
     font-weight: 700;
     
 }
 
 /* Shop By ------  >>  Overlay Designing  */
 
 #user_menu_button_right {
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
        height: 20px;
    }
    background-color: #ff2121;
    border-radius: 50%;
    padding: 9px;
    border: 0; outline: 0;
    position: relative;
    right: 5px;

 }

 .user_options {
    color: white;
    background-color: #242424;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    right: 25px;
    z-index: 10000;
    & > li {
        cursor: pointer;
    }
 }

 .shopbyanime_inner, .shopbytype_inner {
     color: white;
     position: absolute;
     display: none;
     
     width: 90%;
     left:  5%;
     right: 5%;
     top: 60px;
     padding: 30px;
     box-sizing: border-box;
     background-color: #1f1f1f;
     border-radius: 50px;
 
     & > h3 {
         margin: 0px 20px;
         font-size: x-large;
     }
     & > ul {
         max-height: 200px;
         width:fit-content;
         column-gap: 70px;
         row-gap: 10px;
         list-style: none;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         & > li {
             cursor: pointer;
            
         }
     }
 }
 
 
 
 /* M O B I L E      U I      D E S I G N I N G */
 
 @media screen and (max-width: 900px) {
    .user_options {
        right: 10px;
    }
    #user_menu_button_right {
        right: 0px;
    }
 
     #menu_btn, #close_menu_btn {
         display : inline-block
     }
 
     .nav_head {
         display: none;
         position:absolute;
         flex-direction: column;
         top: 0px;
         left: 0px;
         padding: 20px 40px 50px 30px;
         gap: 15px;
         background-color: #161616a6;
         backdrop-filter: blur(10px);
 
         max-height: fit-content;
         min-height: 100%;
         
         
         
 
         
     }
 
     .shopbyanime_inner, .shopbytype_inner {
         display: none;
         position: static;
         background-color: transparent;
         padding: 0px;
 
         & > h3 {
             display: none;
         }
 
         & > ul {
             flex-wrap: nowrap;
             max-height: none;
             padding-left: 20px;
             margin: 0px;
             row-gap: 7px;
             & > li {
                 font-size: 15px;
                 color: rgb(233, 233, 233)
             }
         }
     }
 }