

body {
    background-color: #1a1a1a;
    max-width: 1300px;
    position: relative;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%) ;
    display: grid;
    align-items: center;
    
    
}
::-ms-reveal {
        display: none;
      }

* {
    font-family: Poppins, sans-serif;
}

main {
    background-color: #1f1f1f;
    padding: 25px 50px;
    margin: 20px 20px 20px 0px;
    color: white;
    max-width: 500px;
    
    position: relative;
    
    left: 50%;
    transform: translateX(-50%) ;
    border-radius: 50px;
    filter:drop-shadow(0px 0px 5px rgb(22, 22, 22))
}

h1 {
    font-weight: bolder;
    display: inline-block;
    margin: 21.44px 0px;
    
}

#email, #password, #Confirm {
    font-weight: 500;
    border: none;
    
    padding: 5px 15px;
    
    outline: none;
}

.error_notification_container {
    display: none;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #181818;
    z-index: 10000;
    gap: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    top: 10px;
    font-size: 15px;
    font-weight: 600;
   white-space: nowrap;
    color: white; /* Ensure text is visible against the dark background */
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    & > img {
        height: 20px;
    }
    
}
.error_notification_container.show {
    display: flex;
    opacity: 1;
    top: 20px; /* Adjust this value based on where you want it to slide to */
}

.error_notification_container.hide {
    opacity: 0;
    top: 10px;
}

#email {
    border-radius: 7px;
    background-color: #e9e9e9;
    
    
    width: calc(100% - 30px);
    
    display: block;
    
    
}
.Confirm_Password_Holder {
    z-index: 1;
}

.Password_Holder {
    z-index: 100;
}
.Password_Holder, .Confirm_Password_Holder {
    display: flex;
    margin: 15px 0px;
    
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    & > input {
        
        width: calc(100%);
        border-radius: 7px 0px 0px 7px;
        background-color: #e9e9e9;
        
    }

    & > img {
        background-color: #e9e9e9;
        cursor: pointer;
        height: 20px;
        
        padding: 5px 10px 5px 10px;
        border-radius: 0px 7px 7px 0px;
    }
}



.Signing_Options {
    & > div.Signing_Options_title {
        display: grid;
        grid-template-columns: auto min-content auto;
        width: 100%;
        white-space: nowrap;
        gap: 25px;
        font-size: smaller;
        align-items: center;
        
        /* margin: 0px 20px; */
        & > hr {
            width: 100%;
            border-radius: 10px;
            border: 1px solid white;
        }
        
    }

    & > div.Signing_Options_Items {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
        & > a > img {
            height: 40px
        }
    }
}


.twin_text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    & > a {
        color: red;
        font-size: smaller;
        font-weight: bold;
        padding: 0px 10px
    }
}

#submit {
    background-color: #D60000;
    border: none;
    width: 100%;
    color: white;
    font-weight: bolder;
    padding: 15px;
    font-size: 25px;
    border-radius: 15px;
    margin-top: 25px;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    body {
        background-color: #1f1f1f;
        display: block;
    }
    main {
        filter: none;
        transform: none;
        position: static;
        width: 100%;
    }

    .twin_text {
        margin-top: 15px;
    }

    .Signing_Options {
        & > div.Signing_Options_title {
            margin-top: 20px;
        }
        & > div.Signing_Options_Items {
        margin-top: 25px;
    }}

}