html {
    min-height: 100%;
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0px 500px 0px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.navi_bar_usermenu_main {
    background-color: #161616;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    
    
    max-width: 1000px;
    width: fit-content;

    flex-wrap: wrap;
    gap: 15px;
    

    justify-self: center;
    border-radius: 10px;
    & > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 17px;
        padding: 10px 30px;
        & > img {
            height: 17px
        }
        & > span {
            color : white;
            font-weight: bolder;
            white-space: nowrap;
        }
    }
}

div.page_main_container {
    padding: 0px 0px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    & > h1 {
        padding-left: 50px;
        color: white;
        font-size: 40px;
        margin-bottom: 40px;
        width: min-content;
    }
}
.wishlist_container_with_recomms {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}
.wishlist_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;}
.item_image_wishlist {
    height: 150px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 18px;
}
.wishlist_main_container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    padding-right: 20px;
    
}
.shareanddelete_wishlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    position: relative;
    right: 15px;
    gap: 20px;
    & > img {
        height: 25px;
    }
}
#title_wishlist_item {
    color: white;
    font-weight: 700;
    font-size: x-large;
    
    
}

.add_remove_items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;
    background-color: #222222;
    padding: 4px 12px;
    border-radius: 4px;
    margin-left: -5px;
    & > span {
        color: white;
        font-weight: bold;
    }
    & > input {
        height: 20px;
        width: 20px;
        background-color: #2d2d2d;
        border: 0px;
        padding: 4px;
        border-radius: 2px;
        text-align: center;
        color: white;
        outline: none;
        font-weight: bold;

    }
}

.price_text_wishlist {
    color: #DC4B4B;
    font-weight: bold;
    font-size: 21px;
}
.wishlist_item_colour_size_share_delete_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
    box-sizing: content-box;
    
}
.sizeandcolor_wishlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    & > span {
        color: white;
        font-weight: bold;
        background-color: #222222;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: medium;
    }
}
.recommended_container_heading {
    color: white;
    font-size: large;
    font-weight: 600;
    
}
.recommended_products_container {
    margin-right: 50px;
    background-color: #161617;
    padding: 20px 30px 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: min-content;
}
.recommended_item {
    overflow: hidden;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 6px;
    align-items: center;
    padding-right: 20px;
    
    & > img {
        height: 70px;
        min-width: 70px;
        object-fit: cover;
        border-radius: 6px 0px 0px 6px;
    }
    & > .spans_recomm_item {
        display: flex;
        flex-direction: column;
        gap: 7px
    }
    & > .spans_recomm_item > span.prod_name_recomm {
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    & > .spans_recomm_item > span.prod_price_recomm {
        color: #DC4B4B;
        font-weight: bold;
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    div.navi_bar_usermenu_main {
        & > a {
            padding: 10px 15px;
            & > img {
                padding: 7px 0px;
            }
            & > span {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .wishlist_item_colour_size_share_delete_container {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    div.page_main_container {
        
        box-sizing: border-box;
        width: 100%;
        & > h1 {
            padding-left: 20px;
        }
    }
    #title_wishlist_item  {
        font-size: 17px;
        display: block;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .add_remove_items {
        scale: 0.8
    }
    .price_text_wishlist {
        font-size: 16px;
    }
    .sizeandcolor_wishlist > span {
        font-size: 11px;
    }
    .shareanddelete_wishlist {
        & > img {
            height: 20px
        }
    }
    .wishlist_container_with_recomms {
        flex-direction: column;
    }
    .item_image_wishlist {
        min-width: 120px;
        height: 120px
    }
    .recommended_products_container {
        margin: 0px;
        max-width: 100%;
        min-width: fit-content;
        border-radius: 0px;
        
    }
    .wishlist_main_container {
        padding-left: 20px;
    }
}