{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block stylepath %}
<link rel="stylesheet" href="{{ url_for('static', filename='Css/cart.css') }}">
{% endblock %}
{% block scriptpath %}
<script src="{{ url_for('static', filename='Js/cart.js')}}"></script>
{% endblock %}
<main>
    {% block maincontent %}
    <input hidden id="session-email" value="{{email}}">
    <div class="navi_bar_usermenu_main">
        <a href="{{ url_for('wishlist') }}">
            <img src="{{ url_for('static', filename='Assets/Components/wishlist.png') }}">
            <span>WISHLIST</span>
        </a>
        <a href='{{ url_for("cart") }}'>
            <img src="{{ url_for('static', filename='Assets/Components/cart_menu_icon.png') }}">
            <span>CART</span>
        </a>
        <a href='{{ url_for("orders") }}'>
            <img src="{{ url_for('static', filename='Assets/Components/checkmark.png') }}">
            <span>ORDERS</span>
        </a>
        <a href="{{ url_for('settings') }}">
            <img src="{{ url_for('static', filename='Assets/Components/settings.png') }}">
            <span>SETTINGS</span>
        </a>

    </div>

    <div class="page_main_container">
        <h1>
            CART
        </h1>
        <div class="cart_container_with_summary">
            <div class="cart_main_container">
                
            </div>
            
            <div class="summary_outer_cont">
                <div class="summary_main_container">
                    <span id="summary_title">Order Summary</span>
                    <div class="order_items_in_cart">
                        
                    </div>

                    <hr>

                    <div class="total_order_cost">
                        <span class="total_text">TOTAL</span>
                        <span class="total_num">INR ...</span>
                    </div>
                    
                    <button class="place_order_btn">
                        PLACE ORDER
                    </button>
                </div>
            </div>

            
        </div>
    </div>
    
    {% endblock %}
</main>
