{% extends "base.html" %}

{% block title %}DrasteX{% endblock %}

{% block stylepath %}
<link rel="stylesheet" href="{{ url_for('static', filename='Css/index.css') }}">
{% endblock %}
{% block scriptpath %}

<script src="{{ url_for('static', filename='Js/index.js')}}"></script>
{% endblock %}


<main>{% block maincontent %}
        <div class="top_banner">
            <div class="text_area_top_banner">
                <h1>SUKUNA THEMED</h1>
                <h3>Black Unisex Tshirt</h2>
                <button>
                    <img src="{{ url_for('static', filename='Assets/Components/Cart_icon.png') }}">
                    <span>Add To Cart</span>
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}">
                </button>
            </div>
        </div>

        <article class="Scroller_Main">
            <h1>NEW RELEASES</h1>
            <div class="Scroller_container">
                <div id="NEW_RELEASES_LEFT" class="left_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt="<">
                </div>
                <div id="NEW_RELEASES_SCROLLER" class="scroller_content">
                    
                </div>
                <div id="NEW_RELEASES_RIGHT" class="right_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt=">">
                </div>
            </div>
        </article>
        <article class="Scroller_Main">
            <h1>FEATURED PRODUCTS</h1>
            <div class="Scroller_container">
                <div id="FEATURED_PRODUCTS_LEFT" class="left_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt="<">
                </div>
                <div id="FEATURED_PRODUCTS_SCROLLER" class="scroller_content">
                    
                </div>
                <div id="FEATURED_PRODUCTS_RIGHT" class="right_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt=">">
                </div>
            </div>
        </article>
        <article class="Scroller_Main" id="shopbyanime_scroller">
            <h1>SHOP BY ANIME</h1>
            <div class="Scroller_container">
                <div id="SHOP_BY_ANIME_LEFT" class="left_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt="<">
                </div>
                <div id="SHOP_BY_ANIME_SCROLLER" class="scroller_content" >
                    <div onclick="window.location.href='/catalog?anime=demon_slayer&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/DEMONSLAYERBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/DEMONSLAYERLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=one_piece&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/ONEPIECEBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/ONEPIECELOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=attack_on_titan&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/AOTBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/AOTLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=jujutsu_kaisen&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/JJKBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/JJKLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=chainsaw_man&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/CHAINSAWMANBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/CHAINSAWLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=naruto&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/NARUTOBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/NARUTOLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=bleach&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/ICHIGOBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/BLEACHLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=solo_leveling&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/SOLOLEVELINGBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/SOLOLEVELINGLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=dragon_ball_z&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/DBZBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/HXHLOGO.png') }}">
                    </div>
                    <div onclick="window.location.href='/catalog?anime=hunter_x_hunter&type='" class="SCROLLER_BANNER">
                        <img class="BGIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/HXHBANNER.png') }}">
                        <img class="LOGOIMG_SCROLLER_BANNER" src="{{ url_for('static', filename='Assets/BANNERS/DBZLOGO.png') }}">
                    </div>
                </div>
                <div id="SHOP_BY_ANIME_RIGHT" class="right_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt=">">
                </div>
            </div>
        </article>
        <article class="Scroller_Main">
            <h1>SHOP BY TYPE</h1>
            <div class="Scroller_container">
                <div id="SHOP_BY_TYPE_LEFT" class="left_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt="<">
                </div>
                <div id="SHOP_BY_TYPE_SCROLLER" class="scroller_content">
                    
                </div>
                <div id="SHOP_BY_TYPE_RIGHT" class="right_control_scroller">
                    <img src="{{ url_for('static', filename='Assets/Components/Arrow.png') }}" alt=">">
                </div>
            </div>
        </article>

        <script>
    const new_releases = document.querySelector('#NEW_RELEASES_SCROLLER')
    const featured_collection = document.querySelector('#FEATURED_PRODUCTS_SCROLLER')

    function create_item(img, id, container){
        const imgele = document.createElement('img')
        imgele.classList.add('SCROLLER_BANNER')
        imgele.src = '/static/' + img
        imgele.onclick = () => { window.location.href = '/product?product_id=' + id }
        container.appendChild(imgele)
    }

    let new_releases_list;
    let featured_collection_list;

    fetch('../static/JSON/index_scroller_items.json')
        .then(response => response.json())
        .then(data => {
            new_releases_list = data["new_releases"]
            featured_collection_list = data["featured_collection"]

            fetch('../static/JSON/products.json')
                .then(response => response.json())
                .then(products => {
                    if (products && Object.keys(products).length > 0) {
                        new_releases_list.forEach(id => {
                            create_item(products[String(id)]["mockup1"], id, new_releases)
                        })
                        featured_collection_list.forEach(id => {
                            create_item(products[String(id)]["mockup1"], id, featured_collection)
                        })
                    }
                })
        })
    
    function Scroll_Functionality(scroller, left, right){
        right.addEventListener("mousedown",()=>{
            scroller.scrollLeft += 200;
        })
        
        left.addEventListener("mousedown",()=>{
            scroller.scrollLeft -= 200;
        })
    }
    console.log('h')

    
    // NEW RELEASES
    Scroll_Functionality(document.getElementById("NEW_RELEASES_SCROLLER"), document.getElementById("NEW_RELEASES_LEFT"), document.getElementById("NEW_RELEASES_RIGHT"));
    // FEATURED PRODUCTS
    Scroll_Functionality(document.getElementById("FEATURED_PRODUCTS_SCROLLER"), document.getElementById("FEATURED_PRODUCTS_LEFT"), document.getElementById("FEATURED_PRODUCTS_RIGHT"));
    // SHOP BY ANIME
    Scroll_Functionality(document.getElementById("SHOP_BY_ANIME_SCROLLER"), document.getElementById("SHOP_BY_ANIME_LEFT"), document.getElementById("SHOP_BY_ANIME_RIGHT"));
    // SHOP BY TYPE
    Scroll_Functionality(document.getElementById("SHOP_BY_TYPE_SCROLLER"), document.getElementById("SHOP_BY_TYPE_LEFT"), document.getElementById("SHOP_BY_TYPE_RIGHT"));

        </script>
        
        {% endblock %}
</main>
