{% extends "base.html" %}

{% block title %}Product{% endblock %}

{% block stylepath %}
<link rel="stylesheet" href="{{ url_for('static', filename='Css/product.css') }}">
{% endblock %}
{% block scriptpath %}
<script src="{{ url_for('static', filename='Js/product.js')}}"></script>
{% endblock %}
<main>
    {% block maincontent %}
        <div class="IMAGES_PDUCT">
            <img class="main pImage">
            <div class="remain">
                <img class="pImage">
                <img class="pImage">
                <img class="pImage">
                <img class="pImage">
                <img class="pImage">
            </div>
        </div>
        <div class="INFO_PDUCT">
            <span class="product_name">...</span>
            <span class="colour_detail">...</span>
            <div class="Size_Btns_PDUCT">
                <span>SELECT SIZE</span>
                <div class="btns_sizes_inner_PDUCT">
                    <button id="small_size">S</button>
                    <button id="medium_size">M</button>
                    <button id="large_size">L</button>
                    <button id="extra_large_size">XL</button>
                    <button id="extra_extra_large_size">XXL</button>
                    <button id="extra_extra_large_size">XXXL</button>
                </div>
            </div>
            <span class="price_text_PDUCT">...</span>
            <div class="buyandcart_btns_PDUCT">
                <button class="add_to_cart_button">
                    <img src="{{ url_for('static', filename='Assets/Components/Cart_icon.png') }}">
                    <span>ADD TO<br> CART</span>
                </button>
                <button class="buy_button"> 
                    BUY NOW!
                </button>
                
            </div>
            <div class="sizechart_container">
                <div id="sizechart_heading"><img src="{{ url_for('static', filename='Assets/Components/sizechart.png') }}"> <span>Size Chart</span></div>
                <div class="sizechart_table">
                <span id="heading_sizechart">Size</span> <span id="bold_sizechart">S</span> <span id="bold_sizechart">M</span> <span id="bold_sizechart">L</span> <span id="bold_sizechart">XL</span> <span id="bold_sizechart">XXL</span> <span id="bold_sizechart">XXXL</span>
                <span id="heading_sizechart">Chest (inches)</span> <span>43</span> <span>45</span> <span>47</span> <span>49</span> <span>51</span> <span>53</span>
                <span id="heading_sizechart">Length (inches)</span> <span>28.5</span> <span>29</span> <span>29.5</span> <span>30</span> <span>30.5</span> <span>31</span>
                </div>
            </div>
            
        </div>

        <script>
            const params = new URLSearchParams(window.location.search);
            const product_id = params.get('product_id');
            const pname = document.querySelector('.product_name');
            const pcolor = document.querySelector('.colour_detail');
            const pprice = document.querySelector('.price_text_PDUCT');
            const pImage = document.querySelectorAll('.pImage');
            const mainImg = document.querySelector('.main')
            fetch('../static/JSON/products.json')
                .then(response => response.json())
                .then(data => {
                    if (!data[product_id]) {
                        window.location.href="/"
                    }

                    pname.textContent = data[product_id]['product_name']
                    pcolor.textContent = "Color : " + data[product_id]['color']
                    pprice.textContent = "INR " + data[product_id]['price']

                    pImage[0].src = '/static/' + data[product_id]['mockup1']
                    pImage[1].src = '/static/' + data[product_id]['mockup2']
                    pImage[2].src = '/static/' + data[product_id]['mockup3']
                    pImage[3].src = '/static/' + data[product_id]['mockup4']
                    pImage[4].src = '/static/' + data[product_id]['mockup5']
                    pImage[5].src = '/static/' + data[product_id]['mockup6']
                })

            for (let x=0; x < 6; x++) {
                pImage[x].onclick = ()=>{
                    y = mainImg.src
                    mainImg.src = pImage[x].src
                    pImage[x].src=y
                    console.log('switch')
                }
            }
        </script>

        
        {% endblock %}
    </main>