html {
    min-height: 100%;
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1200px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0px 500px 0px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.navi_bar_usermenu_main {
    background-color: #161616;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    
    
    max-width: 1000px;
    width: fit-content;

    flex-wrap: wrap;
    gap: 15px;
    

    justify-self: center;
    border-radius: 10px;
    & > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 17px;
        padding: 10px 30px;
        & > img {
            height: 17px
        }
        & > span {
            color : white;
            font-weight: bolder;
            white-space: nowrap;
        }
    }
}

div.page_main_container {
    padding: 0px 0px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    & > h1 {
        padding-left: 50px;
        color: white;
        font-size: 40px;
        margin-bottom: 40px;
        width: min-content;
    }
}
.orders_container_with_recomms {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}
.orders_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;}
.item_image_orders {
    height: 150px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 18px;
}
.orders_main_container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    padding-right: 20px;
    
}
.shareanddelete_orders {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    position: relative;
    right: 15px;
    gap: 20px;
    & > img {
        height: 25px;
    }
    & > span {
        background-color: #2d2d2d;
        color: white;
        padding: 5px 10px;
        text-align: center;
        border-radius: 5px;
        font-size: medium;
        font-weight: bold;
    }
}
#title_orders_item {
    color: white;
    font-weight: 700;
    font-size: x-large;
    
    
}
.orders_item_colour_size_share_delete_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-sizing: content-box;
    
}
.sizeandcolor_orders {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    & > span.order_status {
        background-color: green;
    }
    & > span {
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        background-color: #222222;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: medium;
    }
}

@media screen and (max-width: 700px) {
    div.navi_bar_usermenu_main {
        & > a {
            padding: 10px 15px;
            & > img {
                padding: 7px 0px;
            }
            & > span {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .orders_item_colour_size_share_delete_container {
        margin-top: 7px;
        margin-bottom: 7px;

    }
    div.page_main_container {
        
        box-sizing: border-box;
        width: 100%;
        & > h1 {
            padding-left: 20px;
        }
    }
    #title_orders_item  {
        font-size: 17px;
        display: block;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100vw - 200px);
        white-space: nowrap;
        box-sizing: border-box;
    }
    .add_remove_items {
        scale: 0.8
    }
    .sizeandcolor_orders {
        flex-wrap: wrap;
    }
    .sizeandcolor_orders > span {
        font-size: 11px;
    }
    .shareanddelete_orders {
        & > img {
            height: 20px
        }
        & > span {
            font-size: 11px;
        }
    }
    .orders_container_with_recomms {
        flex-direction: column;
    }
    .item_image_orders {
        min-width: 120px;
        height: 120px
    }
    
    .orders_main_container {
        padding-left: 20px;
    }
}